<h2>5d4</h2>

<ul>
  <li>
    <%= rand(1..4) %>
  </li>
  <li>
    <%= rand(1..4) %>
  </li>
  <li>
    <%= rand(1..4) %>
  </li>
  <li>
    <%= rand(1..4) %>
  </li>
  <li>
    <%= rand(1..4) %>
  </li>
</ul>
